In [153]:
import pandas as pd
import numpy as np
import random
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [154]:
train = pd.read_csv("resources/clean/andela_training_data.csv")
test = pd.read_csv("resources/clean/andela_test_data.csv")
train["Type"] = "Train"
test["Type"] = "Test"

In [155]:
fullData = pd.concat([train, test], axis=0)

In [156]:
train_clone = train.copy()

In [157]:
train_clone == train

,Unnamed: 0,S/N,Joined Proctor on,Stage,Bootcamp,Score,% Score,% Completed,M1-S1 Correct,M1-S1 Wrong,...,M8-S2 Tries,M9-S1 Correct,M9-S1 Wrong,M9-S1 Tries,M9-S2 Tries,M10-S1 Correct,M10-S1 Wrong,M10-S1 Tries,M10-S2 Tries,Type
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
5,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
6,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
7,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
8,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
9,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
10,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
11,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
12,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
13,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
14,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
15,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
16,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
17,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
18,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
19,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
20,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
21,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
22,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
23,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
24,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
25,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
26,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
27,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
28,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
29,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4920,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4921,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4922,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4923,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4924,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4925,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4926,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4927,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4928,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4929,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4930,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4931,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4932,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4933,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4934,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4935,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4936,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4937,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4938,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4939,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4940,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4941,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4942,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4943,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4944,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4945,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4946,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4947,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4948,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4949,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [158]:
fullData.columns

Index(['Unnamed: 0', 'S/N', 'Joined Proctor on', 'Stage', 'Bootcamp', 'Score',
       '% Score', '% Completed', 'M1-S1 Correct', 'M1-S1 Wrong', 'M1-S1 Tries',
       'M1-S2 Tries', 'M2-S1 Correct', 'M2-S1 Wrong', 'M2-S1 Tries',
       'M2-S2 Tries', 'M3-S1 Correct', 'M3-S1 Wrong', 'M3-S1 Tries',
       'M3-S2 Tries', 'M4-S1 Correct', 'M4-S1 Wrong', 'M4-S1 Tries',
       'M4-S2 Tries', 'M5-S1 Correct', 'M5-S1 Wrong', 'M5-S1 Tries',
       'M5-S2 Tries', 'M6-S1 Correct', 'M6-S1 Wrong', 'M6-S1 Tries',
       'M6-S2 Tries', 'M7-S1 Correct', 'M7-S1 Wrong', 'M7-S1 Tries',
       'M7-S2 Tries', 'M8-S1 Correct', 'M8-S1 Wrong', 'M8-S1 Tries',
       'M8-S2 Tries', 'M9-S1 Correct', 'M9-S1 Wrong', 'M9-S1 Tries',
       'M9-S2 Tries', 'M10-S1 Correct', 'M10-S1 Wrong', 'M10-S1 Tries',
       'M10-S2 Tries', 'Type'],
      dtype='object')

In [159]:
fullData.describe()

,Unnamed: 0,S/N,Score,% Score,% Completed,M1-S1 Correct,M1-S1 Wrong,M1-S1 Tries,M1-S2 Tries,M2-S1 Correct,...,M8-S1 Tries,M8-S2 Tries,M9-S1 Correct,M9-S1 Wrong,M9-S1 Tries,M9-S2 Tries,M10-S1 Correct,M10-S1 Wrong,M10-S1 Tries,M10-S2 Tries
count,7078.000000,7078.000000,7078.000000,7078.000000,7078.000000,7078.000000,7078.000000,7078.000000,7078.0,7078.000000,...,7078.000000,7078.0,7078.000000,7078.000000,7078.000000,7078.0,7078.000000,7078.000000,7078.000000,7078.000000
mean,3538.500000,3539.500000,53.314213,0.266571,18.110059,1.728596,0.890506,0.890506,0.0,2.498022,...,0.435575,0.0,2.376943,0.500989,0.500989,0.0,4.913111,1.343600,1.344165,0.192427
std,2043.386935,2043.386935,63.813960,0.319070,30.779559,2.275178,1.420800,1.420800,0.0,3.297964,...,1.297715,0.0,5.648909,1.611895,1.611895,0.0,12.166556,4.679171,4.679159,1.309303
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
25%,1769.250000,1770.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
50%,3538.500000,3539.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
75%,5307.750000,5308.750000,110.000000,0.550000,20.000000,4.000000,2.000000,2.000000,0.0,6.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
max,7077.000000,7078.000000,192.000000,0.960000,100.000000,8.000000,7.000000,7.000000,0.0,10.000000,...,10.000000,0.0,19.000000,16.000000,16.000000,0.0,43.000000,43.000000,43.000000,37.000000

In [160]:
fullData.head()

,Unnamed: 0,S/N,Joined Proctor on,Stage,Bootcamp,Score,% Score,% Completed,M1-S1 Correct,M1-S1 Wrong,...,M8-S2 Tries,M9-S1 Correct,M9-S1 Wrong,M9-S1 Tries,M9-S2 Tries,M10-S1 Correct,M10-S1 Wrong,M10-S1 Tries,M10-S2 Tries,Type
0,0,1,2015-12-29,Andela Proctor,False,113,0.565,20,3,3,...,0,0,0,0,0,0,0,0,0,Train
1,1,2,2015-12-29,Andela Proctor,False,104,0.520,13,3,3,...,0,0,0,0,0,0,0,0,0,Train
2,2,3,2015-12-29,Plum.io,False,113,0.565,100,1,5,...,0,9,10,10,0,13,30,30,1,Train
3,3,4,2015-12-29,Andela Proctor,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,0,Train
4,4,5,2015-12-29,Andela Proctor,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,0,Train

In [161]:
id_cols = "S/N"
target_cols = ["Stage"]
category_cols = []
cols_to_ignore = target_cols + ['Type', 'S/N', 'Unnamed: 0', "Joined Proctor on"]
num_cols = [col for col in fullData.columns if col not in cols_to_ignore]

In [162]:
num_cols

['Bootcamp',
 'Score',
 '% Score',
 '% Completed',
 'M1-S1 Correct',
 'M1-S1 Wrong',
 'M1-S1 Tries',
 'M1-S2 Tries',
 'M2-S1 Correct',
 'M2-S1 Wrong',
 'M2-S1 Tries',
 'M2-S2 Tries',
 'M3-S1 Correct',
 'M3-S1 Wrong',
 'M3-S1 Tries',
 'M3-S2 Tries',
 'M4-S1 Correct',
 'M4-S1 Wrong',
 'M4-S1 Tries',
 'M4-S2 Tries',
 'M5-S1 Correct',
 'M5-S1 Wrong',
 'M5-S1 Tries',
 'M5-S2 Tries',
 'M6-S1 Correct',
 'M6-S1 Wrong',
 'M6-S1 Tries',
 'M6-S2 Tries',
 'M7-S1 Correct',
 'M7-S1 Wrong',
 'M7-S1 Tries',
 'M7-S2 Tries',
 'M8-S1 Correct',
 'M8-S1 Wrong',
 'M8-S1 Tries',
 'M8-S2 Tries',
 'M9-S1 Correct',
 'M9-S1 Wrong',
 'M9-S1 Tries',
 'M9-S2 Tries',
 'M10-S1 Correct',
 'M10-S1 Wrong',
 'M10-S1 Tries',
 'M10-S2 Tries']

In [163]:
other_col = ["Type"]

In [164]:
is_null = fullData.isnull().any()

In [165]:
is_null

Unnamed: 0           False
S/N                  False
Joined Proctor on    False
Stage                False
Bootcamp             False
Score                False
% Score              False
% Completed          False
M1-S1 Correct        False
M1-S1 Wrong          False
M1-S1 Tries          False
M1-S2 Tries          False
M2-S1 Correct        False
M2-S1 Wrong          False
M2-S1 Tries          False
M2-S2 Tries          False
M3-S1 Correct        False
M3-S1 Wrong          False
M3-S1 Tries          False
M3-S2 Tries          False
M4-S1 Correct        False
M4-S1 Wrong          False
M4-S1 Tries          False
M4-S2 Tries          False
M5-S1 Correct        False
M5-S1 Wrong          False
M5-S1 Tries          False
M5-S2 Tries          False
M6-S1 Correct        False
M6-S1 Wrong          False
M6-S1 Tries          False
M6-S2 Tries          False
M7-S1 Correct        False
M7-S1 Wrong          False
M7-S1 Tries          False
M7-S2 Tries          False
M8-S1 Correct        False
M8-S1 Wrong          False
M8-S1 Tries          False
M8-S2 Tries          False
M9-S1 Correct        False
M9-S1 Wrong          False
M9-S1 Tries          False
M9-S2 Tries          False
M10-S1 Correct       False
M10-S1 Wrong         False
M10-S1 Tries         False
M10-S2 Tries         False
Type                 False
dtype: bool

In [166]:
type(is_null)

pandas.core.series.Series

In [167]:
any(is_null.tolist())

False

In [168]:
for col in target_cols:
    number = LabelEncoder()
    fullData[col] = number.fit_transform(fullData[col].astype('str'))

In [169]:
train = fullData[fullData['Type'] == 'Train']

In [170]:
test = fullData[fullData['Type'] == 'Test']

In [171]:
train['is_train'] = np.random.uniform(0,1, len(train)) <= 0.75

/Users/tijesunimipeters/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [172]:
train

,Unnamed: 0,S/N,Joined Proctor on,Stage,Bootcamp,Score,% Score,% Completed,M1-S1 Correct,M1-S1 Wrong,...,M9-S1 Correct,M9-S1 Wrong,M9-S1 Tries,M9-S2 Tries,M10-S1 Correct,M10-S1 Wrong,M10-S1 Tries,M10-S2 Tries,Type,is_train
0,0,1,2015-12-29,1,False,113,0.565,20,3,3,...,0,0,0,0,0,0,0,0,Train,True
1,1,2,2015-12-29,1,False,104,0.520,13,3,3,...,0,0,0,0,0,0,0,0,Train,False
2,2,3,2015-12-29,10,False,113,0.565,100,1,5,...,9,10,10,0,13,30,30,1,Train,True
3,3,4,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
4,4,5,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,False
5,5,6,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,False
6,6,7,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
7,7,8,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
8,8,9,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,False
9,9,10,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
10,10,11,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
11,11,12,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,False
12,12,13,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,False
13,13,14,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,False
14,14,15,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
15,15,16,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,False
16,16,17,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
17,17,18,2015-12-29,10,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
18,18,19,2015-12-29,10,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
19,19,20,2016-01-04,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
20,20,21,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,False
21,21,22,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
22,22,23,2016-03-08,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
23,23,24,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,False
24,24,25,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
25,25,26,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
26,26,27,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
27,27,28,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,False
28,28,29,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
29,29,30,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4920,4920,4921,2016-03-18,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
4921,4921,4922,2016-02-22,1,False,159,0.795,93,4,2,...,15,4,4,0,39,4,4,1,Train,False
4922,4922,4923,2016-02-22,1,False,113,0.565,60,2,4,...,9,10,10,0,0,0,0,0,Train,True
4923,4923,4924,2016-02-22,1,False,110,0.550,26,4,2,...,0,0,0,0,0,0,0,0,Train,True
4924,4924,4925,2016-02-22,1,False,125,0.625,66,3,3,...,16,3,3,0,36,7,7,2,Train,True
4925,4925,4926,2016-02-25,1,False,127,0.635,66,4,2,...,15,4,4,0,34,9,9,0,Train,True
4926,4926,4927,2016-03-01,1,False,90,0.450,53,4,2,...,11,8,8,0,13,30,30,0,Train,True
4927,4927,4928,2016-02-22,1,False,133,0.665,66,4,2,...,15,4,4,0,35,8,8,0,Train,True
4928,4928,4929,2016-02-25,1,False,137,0.685,66,5,1,...,17,2,2,0,33,10,10,0,Train,False
4929,4929,4930,2016-02-22,1,False,107,0.535,26,2,4,...,0,0,0,0,36,7,7,0,Train,True
4930,4930,4931,2016-02-25,1,False,159,0.795,100,4,2,...,16,3,3,0,25,18,18,1,Train,True
4931,4931,4932,2016-02-22,1,False,182,0.910,100,6,0,...,18,1,1,0,39,4,4,1,Train,True
4932,4932,4933,2016-02-22,1,False,151,0.755,100,4,2,...,15,4,4,0,41,2,2,1,Train,True
4933,4933,4934,2016-03-01,1,False,166,0.830,100,5,1,...,16,3,3,0,38,5,5,2,Train,False
4934,4934,4935,2016-02-22,1,False,173,0.865,100,3,3,...,18,1,1,0,40,3,3,1,Train,True
4935,4935,4936,2016-02-22,8,False,125,0.625,66,5,1,...,15,4,4,0,33,10,10,0,Train,False
4936,4936,4937,2016-02-22,1,False,146,0.730,100,5,1,...,16,3,3,0,39,4,4,1,Train,True
4937,4937,4938,2016-02-22,9,True,181,0.905,100,6,0,...,17,2,2,0,42,1,1,1,Train,False
4938,4938,4939,2016-02-22,1,False,103,0.515,13,4,2,...,0,0,0,0,0,0,0,0,Train,True
4939,4939,4940,2016-02-25,1,False,179,0.895,100,4,2,...,17,2,2,0,40,3,3,1,Train,True
4940,4940,4941,2016-03-01,3,True,155,0.775,86,3,3,...,16,3,3,0,40,3,3,3,Train,True
4941,4941,4942,2016-02-22,1,False,98,0.490,66,5,1,...,14,5,5,0,0,43,43,0,Train,False
4942,4942,4943,2016-02-25,1,False,139,0.695,66,5,1,...,14,5,5,0,35,8,8,0,Train,False
4943,4943,4944,2016-02-25,1,False,109,0.545,13,4,2,...,0,0,0,0,0,0,0,0,Train,True
4944,4944,4945,2016-02-22,1,False,95,0.475,40,1,5,...,0,0,0,0,14,29,29,0,Train,True
4945,4945,4946,2016-02-22,1,False,178,0.890,100,6,0,...,19,0,0,0,37,6,6,1,Train,True
4946,4946,4947,2016-02-22,1,False,101,0.505,20,2,4,...,0,0,0,0,0,0,0,0,Train,True
4947,4947,4948,2016-03-08,1,False,175,0.875,100,3,3,...,16,3,3,0,39,4,4,1,Train,True
4948,4948,4949,2016-02-22,1,False,113,0.565,20,5,1,...,0,0,0,0,0,0,0,0,Train,False
4949,4949,4950,2016-02-22,4,True,179,0.895,100,3,3,...,19,0,0,0,40,3,3,1,Train,False

In [173]:
Train, Validate =  train[train['is_train'] == True], train[train['is_train'] == False]

In [174]:
Train

,Unnamed: 0,S/N,Joined Proctor on,Stage,Bootcamp,Score,% Score,% Completed,M1-S1 Correct,M1-S1 Wrong,...,M9-S1 Correct,M9-S1 Wrong,M9-S1 Tries,M9-S2 Tries,M10-S1 Correct,M10-S1 Wrong,M10-S1 Tries,M10-S2 Tries,Type,is_train
0,0,1,2015-12-29,1,False,113,0.565,20,3,3,...,0,0,0,0,0,0,0,0,Train,True
2,2,3,2015-12-29,10,False,113,0.565,100,1,5,...,9,10,10,0,13,30,30,1,Train,True
3,3,4,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
6,6,7,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
7,7,8,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
9,9,10,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
10,10,11,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
14,14,15,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
16,16,17,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
17,17,18,2015-12-29,10,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
18,18,19,2015-12-29,10,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
19,19,20,2016-01-04,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
21,21,22,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
22,22,23,2016-03-08,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
24,24,25,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
25,25,26,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
26,26,27,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
28,28,29,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
29,29,30,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
30,30,31,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
31,31,32,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
32,32,33,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
33,33,34,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
34,34,35,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
36,36,37,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
37,37,38,2015-12-29,1,False,104,0.520,13,2,4,...,0,0,0,0,0,0,0,0,Train,True
38,38,39,2015-12-29,1,False,108,0.540,20,2,4,...,0,0,0,0,0,0,0,0,Train,True
39,39,40,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
40,40,41,2015-12-29,8,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
41,41,42,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4906,4906,4907,2016-03-01,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
4907,4907,4908,2016-03-01,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
4908,4908,4909,2016-03-01,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
4911,4911,4912,2016-03-01,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
4912,4912,4913,2016-03-08,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
4913,4913,4914,2016-03-17,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
4914,4914,4915,2016-03-17,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
4917,4917,4918,2016-03-17,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
4918,4918,4919,2016-03-17,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
4920,4920,4921,2016-03-18,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
4922,4922,4923,2016-02-22,1,False,113,0.565,60,2,4,...,9,10,10,0,0,0,0,0,Train,True
4923,4923,4924,2016-02-22,1,False,110,0.550,26,4,2,...,0,0,0,0,0,0,0,0,Train,True
4924,4924,4925,2016-02-22,1,False,125,0.625,66,3,3,...,16,3,3,0,36,7,7,2,Train,True
4925,4925,4926,2016-02-25,1,False,127,0.635,66,4,2,...,15,4,4,0,34,9,9,0,Train,True
4926,4926,4927,2016-03-01,1,False,90,0.450,53,4,2,...,11,8,8,0,13,30,30,0,Train,True
4927,4927,4928,2016-02-22,1,False,133,0.665,66,4,2,...,15,4,4,0,35,8,8,0,Train,True
4929,4929,4930,2016-02-22,1,False,107,0.535,26,2,4,...,0,0,0,0,36,7,7,0,Train,True
4930,4930,4931,2016-02-25,1,False,159,0.795,100,4,2,...,16,3,3,0,25,18,18,1,Train,True
4931,4931,4932,2016-02-22,1,False,182,0.910,100,6,0,...,18,1,1,0,39,4,4,1,Train,True
4932,4932,4933,2016-02-22,1,False,151,0.755,100,4,2,...,15,4,4,0,41,2,2,1,Train,True
4934,4934,4935,2016-02-22,1,False,173,0.865,100,3,3,...,18,1,1,0,40,3,3,1,Train,True
4936,4936,4937,2016-02-22,1,False,146,0.730,100,5,1,...,16,3,3,0,39,4,4,1,Train,True
4938,4938,4939,2016-02-22,1,False,103,0.515,13,4,2,...,0,0,0,0,0,0,0,0,Train,True
4939,4939,4940,2016-02-25,1,False,179,0.895,100,4,2,...,17,2,2,0,40,3,3,1,Train,True
4940,4940,4941,2016-03-01,3,True,155,0.775,86,3,3,...,16,3,3,0,40,3,3,3,Train,True
4943,4943,4944,2016-02-25,1,False,109,0.545,13,4,2,...,0,0,0,0,0,0,0,0,Train,True
4944,4944,4945,2016-02-22,1,False,95,0.475,40,1,5,...,0,0,0,0,14,29,29,0,Train,True
4945,4945,4946,2016-02-22,1,False,178,0.890,100,6,0,...,19,0,0,0,37,6,6,1,Train,True
4946,4946,4947,2016-02-22,1,False,101,0.505,20,2,4,...,0,0,0,0,0,0,0,0,Train,True
4947,4947,4948,2016-03-08,1,False,175,0.875,100,3,3,...,16,3,3,0,39,4,4,1,Train,True

In [188]:
features = list(set(list(fullData.columns)) - set(id_cols) - set(target_cols) - set(other_col) - set(cols_to_ignore))

In [189]:
features

['M6-S1 Correct',
 'M9-S2 Tries',
 'M7-S1 Wrong',
 'M5-S1 Wrong',
 'M9-S1 Correct',
 'M9-S1 Wrong',
 'M9-S1 Tries',
 'M10-S1 Wrong',
 'M10-S2 Tries',
 'Score',
 'M4-S1 Wrong',
 'M7-S2 Tries',
 'M10-S1 Correct',
 'M7-S1 Correct',
 'M3-S1 Wrong',
 'M5-S2 Tries',
 'M8-S2 Tries',
 'M8-S1 Wrong',
 'M6-S2 Tries',
 'M6-S1 Wrong',
 'M4-S1 Tries',
 '% Score',
 'M2-S1 Tries',
 'Bootcamp',
 'M5-S1 Correct',
 'M3-S1 Tries',
 'M1-S1 Wrong',
 'M8-S1 Correct',
 'M1-S2 Tries',
 'M3-S2 Tries',
 'M2-S1 Correct',
 'M8-S1 Tries',
 'M6-S1 Tries',
 'M2-S1 Wrong',
 'M4-S2 Tries',
 'M1-S1 Correct',
 'M1-S1 Tries',
 'M10-S1 Tries',
 '% Completed',
 'M5-S1 Tries',
 'M2-S2 Tries',
 'M4-S1 Correct',
 'M3-S1 Correct',
 'M7-S1 Tries']

In [190]:
x_train = Train[list(features)].values

In [191]:
Train

,Unnamed: 0,S/N,Joined Proctor on,Stage,Bootcamp,Score,% Score,% Completed,M1-S1 Correct,M1-S1 Wrong,...,M9-S1 Correct,M9-S1 Wrong,M9-S1 Tries,M9-S2 Tries,M10-S1 Correct,M10-S1 Wrong,M10-S1 Tries,M10-S2 Tries,Type,is_train
0,0,1,2015-12-29,1,False,113,0.565,20,3,3,...,0,0,0,0,0,0,0,0,Train,True
2,2,3,2015-12-29,10,False,113,0.565,100,1,5,...,9,10,10,0,13,30,30,1,Train,True
3,3,4,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
6,6,7,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
7,7,8,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
9,9,10,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
10,10,11,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
14,14,15,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
16,16,17,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
17,17,18,2015-12-29,10,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
18,18,19,2015-12-29,10,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
19,19,20,2016-01-04,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
21,21,22,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
22,22,23,2016-03-08,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
24,24,25,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
25,25,26,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
26,26,27,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
28,28,29,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
29,29,30,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
30,30,31,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
31,31,32,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
32,32,33,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
33,33,34,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
34,34,35,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
36,36,37,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
37,37,38,2015-12-29,1,False,104,0.520,13,2,4,...,0,0,0,0,0,0,0,0,Train,True
38,38,39,2015-12-29,1,False,108,0.540,20,2,4,...,0,0,0,0,0,0,0,0,Train,True
39,39,40,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
40,40,41,2015-12-29,8,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
41,41,42,2015-12-29,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4906,4906,4907,2016-03-01,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
4907,4907,4908,2016-03-01,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
4908,4908,4909,2016-03-01,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
4911,4911,4912,2016-03-01,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
4912,4912,4913,2016-03-08,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
4913,4913,4914,2016-03-17,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
4914,4914,4915,2016-03-17,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
4917,4917,4918,2016-03-17,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
4918,4918,4919,2016-03-17,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
4920,4920,4921,2016-03-18,1,False,0,0.000,0,0,0,...,0,0,0,0,0,0,0,0,Train,True
4922,4922,4923,2016-02-22,1,False,113,0.565,60,2,4,...,9,10,10,0,0,0,0,0,Train,True
4923,4923,4924,2016-02-22,1,False,110,0.550,26,4,2,...,0,0,0,0,0,0,0,0,Train,True
4924,4924,4925,2016-02-22,1,False,125,0.625,66,3,3,...,16,3,3,0,36,7,7,2,Train,True
4925,4925,4926,2016-02-25,1,False,127,0.635,66,4,2,...,15,4,4,0,34,9,9,0,Train,True
4926,4926,4927,2016-03-01,1,False,90,0.450,53,4,2,...,11,8,8,0,13,30,30,0,Train,True
4927,4927,4928,2016-02-22,1,False,133,0.665,66,4,2,...,15,4,4,0,35,8,8,0,Train,True
4929,4929,4930,2016-02-22,1,False,107,0.535,26,2,4,...,0,0,0,0,36,7,7,0,Train,True
4930,4930,4931,2016-02-25,1,False,159,0.795,100,4,2,...,16,3,3,0,25,18,18,1,Train,True
4931,4931,4932,2016-02-22,1,False,182,0.910,100,6,0,...,18,1,1,0,39,4,4,1,Train,True
4932,4932,4933,2016-02-22,1,False,151,0.755,100,4,2,...,15,4,4,0,41,2,2,1,Train,True
4934,4934,4935,2016-02-22,1,False,173,0.865,100,3,3,...,18,1,1,0,40,3,3,1,Train,True
4936,4936,4937,2016-02-22,1,False,146,0.730,100,5,1,...,16,3,3,0,39,4,4,1,Train,True
4938,4938,4939,2016-02-22,1,False,103,0.515,13,4,2,...,0,0,0,0,0,0,0,0,Train,True
4939,4939,4940,2016-02-25,1,False,179,0.895,100,4,2,...,17,2,2,0,40,3,3,1,Train,True
4940,4940,4941,2016-03-01,3,True,155,0.775,86,3,3,...,16,3,3,0,40,3,3,3,Train,True
4943,4943,4944,2016-02-25,1,False,109,0.545,13,4,2,...,0,0,0,0,0,0,0,0,Train,True
4944,4944,4945,2016-02-22,1,False,95,0.475,40,1,5,...,0,0,0,0,14,29,29,0,Train,True
4945,4945,4946,2016-02-22,1,False,178,0.890,100,6,0,...,19,0,0,0,37,6,6,1,Train,True
4946,4946,4947,2016-02-22,1,False,101,0.505,20,2,4,...,0,0,0,0,0,0,0,0,Train,True
4947,4947,4948,2016-03-08,1,False,175,0.875,100,3,3,...,16,3,3,0,39,4,4,1,Train,True

In [192]:
y_train = Train['Stage'].values

In [193]:
x_validate = Validate[list(features)].values

In [194]:
y_validate = Validate['Stage'].values

In [195]:
x_test = test[list(features)].values

In [196]:
random.seed(100)

In [197]:
rf = RandomForestClassifier(n_estimators=1000)

In [199]:
classifier = rf.fit(x_train, y_train)

In [200]:
classifier

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [201]:
status = rf.predict_proba(x_validate)

In [202]:
status

array([[ 0.        ,  1.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.00203887,  0.95336325,  0.        , ...,  0.        ,
         0.0032637 ,  0.00123924],
       [ 0.00203887,  0.95336325,  0.        , ...,  0.        ,
         0.0032637 ,  0.00123924],
       ...,
       [ 0.018     ,  0.835     ,  0.003     , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.        ,  1.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [ 0.019     ,  0.183     ,  0.196     , ...,  0.001     ,
         0.003     ,  0.005     ]])

In [204]:
from sklearn.metrics import roc_curve, auc

In [208]:
fpr, tpr, _ = roc_curve(y_validate, status[: ,1])

/Users/tijesunimipeters/anaconda3/lib/python3.5/site-packages/sklearn/metrics/ranking.py:313: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  y_true = (y_true == pos_label)

TypeError: 'bool' object is not subscriptable

In [211]:
len(y_validate)

1217

In [212]:
len(status)

1217

In [214]:
import matplotlib.pyplot as plt

/Users/tijesunimipeters/anaconda3/lib/python3.5/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')
/Users/tijesunimipeters/anaconda3/lib/python3.5/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [215]:
plt.plot(x_validate, y_validate)

[<matplotlib.lines.Line2D at 0x11ebb7be0>,
 <matplotlib.lines.Line2D at 0x11ebb7e48>,
 <matplotlib.lines.Line2D at 0x11ebc0080>,
 <matplotlib.lines.Line2D at 0x11ebc0278>,
 <matplotlib.lines.Line2D at 0x11ebc0470>,
 <matplotlib.lines.Line2D at 0x11ebc0668>,
 <matplotlib.lines.Line2D at 0x11ebc0860>,
 <matplotlib.lines.Line2D at 0x11ebc0a58>,
 <matplotlib.lines.Line2D at 0x11ebc0c50>,
 <matplotlib.lines.Line2D at 0x11ebc0e48>,
 <matplotlib.lines.Line2D at 0x11ebc1080>,
 <matplotlib.lines.Line2D at 0x11ebc1278>,
 <matplotlib.lines.Line2D at 0x11ebc1470>,
 <matplotlib.lines.Line2D at 0x11ebc1668>,
 <matplotlib.lines.Line2D at 0x11e9976d8>,
 <matplotlib.lines.Line2D at 0x11ebc1a58>,
 <matplotlib.lines.Line2D at 0x11ebc1c50>,
 <matplotlib.lines.Line2D at 0x11ebc1e48>,
 <matplotlib.lines.Line2D at 0x11ebc5080>,
 <matplotlib.lines.Line2D at 0x11ebc5278>,
 <matplotlib.lines.Line2D at 0x11ebc5470>,
 <matplotlib.lines.Line2D at 0x11ebc1860>,
 <matplotlib.lines.Line2D at 0x11ebc5860>,
 <matplotlib.lines.Line2D at 0x11ebc5a58>,
 <matplotlib.lines.Line2D at 0x11ebc5c50>,
 <matplotlib.lines.Line2D at 0x11ebc5e48>,
 <matplotlib.lines.Line2D at 0x11ebc6080>,
 <matplotlib.lines.Line2D at 0x11ebc6278>,
 <matplotlib.lines.Line2D at 0x11ebc5668>,
 <matplotlib.lines.Line2D at 0x11ebc6668>,
 <matplotlib.lines.Line2D at 0x11ebc6860>,
 <matplotlib.lines.Line2D at 0x11ebc6a58>,
 <matplotlib.lines.Line2D at 0x11ebc6c50>,
 <matplotlib.lines.Line2D at 0x11ebc6e48>,
 <matplotlib.lines.Line2D at 0x11ebc9080>,
 <matplotlib.lines.Line2D at 0x11ebc6470>,
 <matplotlib.lines.Line2D at 0x11ebc9470>,
 <matplotlib.lines.Line2D at 0x11ebc9668>,
 <matplotlib.lines.Line2D at 0x11ebc9860>,
 <matplotlib.lines.Line2D at 0x11ebc9a58>,
 <matplotlib.lines.Line2D at 0x11ebc9c50>,
 <matplotlib.lines.Line2D at 0x11ebc9e48>,
 <matplotlib.lines.Line2D at 0x11ebc9278>,
 <matplotlib.lines.Line2D at 0x11ebcb278>]

In [221]:
plt.scatter(x=status, y=y_validate)

ValueError: x and y must be the same size